
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Fira+Sans&family=Jacques+Francois+Shadow&family=Poppins:wght@200&family=Roboto+Slab:wght@400;500&family=Rubik+Iso&family=Source+Code+Pro:wght@300&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Fira+Sans&family=Jacques+Francois+Shadow&family=Poppins:wght@200&family=Roboto+Slab:wght@400;500&family=Rubik+Iso&family=Skranji:wght@700&family=Source+Code+Pro:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;
}

.container1{
   background: linear-gradient(135deg, #eeaeca, #94bbe9);
   min-height: 100vh;
width:100% ;
padding: 10px;


}

.toDoList{
    border:solid rgb(89, 162, 241);
width:100%;
max-width: 800px;
background-color:#6ed4d8;
margin: 100px auto 20px ;
padding: 40px 30px 70px;
border-radius: 15px;
}

.toDoList h2{

display: flex;
align-items: center;
margin-bottom: 20px;
font-size: 45px;
font-family: 'Skranji', cursive;
color:rgb(47, 42, 42);

}

.toDoList h2 img{
    width: 90px;
    height: 100px;
    margin-left: 20px;

}
.rows{
    display: flex;
    align-items: center;
    justify-content: space-between;
background: linear-gradient(135deg, #eeaeca, #94bbe9);
border-radius: 35px;
padding-left: 20px;
margin-bottom: 25px;
margin-right:15px;
border-style:solid;
border-width: 8px;
border-width:3px;
}

input{
flex:1 ;
border:none;
outline:none;
background: transparent;
padding:10px;
font-weight: 14px;

}

button{
    border:none;
outline:none;
padding:17px 50px;
background:#94bbe9;
color:black;
font-size: 28px;
font-family: 'Skranji', cursive;
cursor:pointer;
border-radius: 35px;
border-style:dotted;


}

ul li{
list-style: none;
position:relative;
font-size: 17px;
padding: 12px 8px 12px 50px;
user-select: none;
cursor: pointer;
}

ul li::before{
content: '';
position:absolute;
height:28px;
width:28px;
border-radius: 50%;
background-image: url(circleUnCheck.png);
background-size: cover;
background-position: center;
top:12px;
left:8px;

}

ul li.selected{
color:#555;
text-decoration: line-through;

}

ul li.selected::before{
    background-image: url(checkCircle.png);
}

ul li span{
    position:absolute;
    right:0;
    top:5px;
    width:40px;
    height:40px;
    font-size: 22px;
    color:#0f0e0e;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background:#f7cfe0;
}

::placeholder{
    font-size: 25px;
   color:black;
}
 #DatePicker{
color:#052563;
height:60px;
width:120px;
border-style:hidden;
margin-right:30px;
padding:5px;
}
/*
#DatePicker label{
    box-sizing: border-box;
    padding-right:30px;
   
} */